/* src/InteractiveMap.css */

.image-mapper-shape:hover {
  fill-opacity: 0.6;
}

.image-mapper-shape.locked {
  fill: rgba(128, 128, 128, 0.3);
}

.image-mapper-shape.unlocked {
  fill: rgba(0, 0, 0, 0); /* Transparent */
}

.image-mapper-shape.focused {
  fill-opacity: 0.5;
  stroke: orange;
  stroke-width: 3;
}

